<div class="card">
    <h1>Clássicos</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam nulla, earum eaque aliquam natus fugit.</p>
</div>

<div class="grid md:grid-cols-2 md:gap-8 gap-2">
    @for (entity of entities; track entity) {
        <div class="card col-6 contents text">
            <div class="card border-round" >
                <p-image [src]="entity.ImageUrl" width="100%" class=""></p-image>

                <div class="flex justify-between items-center mt-3">
                    <h3>{{ entity.Description }}</h3>
                    <p>{{ entity.Price | currency: 'BRL' }}</p>
                </div>

                <p><b>Cobertura:</b> {{ entity.Frosting }}</p>

                <div class="flex justify-between items-center">
                    <p><b>Categoria:</b> {{ entity.Category }}</p>
                    <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                </div>
            </div>
        </div>
    }
</div>
