<div class="card">
    <h1>Bolos Tradicionais</h1>
    <p>Bolos que despertam memórias e aquecem o coração. Aqui você encontra os sabores tradicionais que atravessam gerações — simples, caseiros e cheios de afeto em cada fatia.</p>
</div>

<div class="grid md:grid-cols-2 md:gap-8 gap-2">
    @for (entity of entities; track entity) {
        <div class="card col-6 contents text">
            <div class="card border-round" >
                <p-image [src]="entity.ImageUrl" width="100%" class=""></p-image>

                <div class="flex justify-between items-center mt-3">
                    <h3>{{ entity.Description }}</h3>
                </div>

                <div class="flex justify-between items-center">
                    <p>{{ entity.Price | currency: 'BRL' }}</p>
                    <p-button icon="pi pi-eye" styleClass="ml-2" (onClick)="open(entity)"/>
                </div>
            </div>
        </div>
    }
</div>

<p-dialog [header]="selectedEntity?.Description" [(visible)]="modalDialog" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [modal]="true">

    <div class="card">
        <form [formGroup]="form">
            <div class="formgrid grid text-center">

                <div class="field col-5 mt-5">
                    <p-select id="frosting" [(ngModel)]="selectedFrosting" [options]="selectedEntity?.Frosting" optionLabel="Description" placeholder="Selecione uma cobertura" formControlName="Frosting" class="w-full"></p-select>
                </div>
    
            </div>
        </form>
    </div>

    <div class="card m-auto border-round bg-primary" style="width: 65%;">
        <p-image [src]="selectedEntity?.ImageUrl" width="100%"></p-image>
    </div>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" severity="danger" (click)="close()" />
        <p-button label="Adicionar ao carrinho" icon="pi pi-shopping-cart" (click)="save()" />
    </ng-template>
</p-dialog>

